.Rproj.user
.Rhistory
.RData
_bookdown_files
.DS_Store
*.rds
.Rapp.history
bookdown-start.Rproj
bookdown-start.log
docs/*.md
docs/*.pdf
DEA_Using_R.Rproj
*.md
BaseballBatting.png
BaseballCCRIO.png
*.log
*.pdf
CCL_1990_IO_diagram.png
generated-images/*.png
generated-images/*.PNG
DEA_Using_R.tex
DEA_Using_R.log
DEA_Using_R.bib
DEA-Using-R.tex
DEA-Using-R.log
DEA-Using-R.bib
!LICENSE.md
.httr-oauth
